/*FOOTER*/
/*NOSOTROS*/
.log {
	min-width: max-content;
}
.mural {
	height: auto;
	width: 100%;
}
.portafo {
	font-size: 270px;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	color: var(--leters-primary-color);
	background-size: cover;
	background-position: center;
	display: inline-block;
	animation: bounce;
	animation-duration: 5s;
}
.portada {
	width: 100%;
	height: auto;
	position: relative;
	margin: auto;
	img {
		width: 100%;
	}
}
.contenedor {
	position: relative;
	display: inline-block;
	text-align: center;
	margin: auto;
	perspective: 700px;
}
.texto-encima {
	position: absolute;
	top: 10px;
	left: 10px;
}
.centrado {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.cuerpo {
	background: #fc4a1a;
	background: -webkit-linear-gradient(to bottom, #f7b733, #fc4a1a);
	background: linear-gradient(to bottom, #f7b733, #fc4a1a);
	height: auto;
	max-height: auto;
	width: auto;
	min-width: auto;
	display: flex;
	justify-content: center;
}
.contenedor-texto {
	height: 250px;
	width: 800px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-family: 'Inter';
	p {
		font-size: 22px;
		font-family: 'Inter', sans-serif;
		color: white;
		display: inline-block;
		margin: 0 0.0;
		animation: zoomIn;
		animation-duration: 2s;
	}
}
.tarjetas {
	width: 500px;
}
.imagenes-portafolio {
	text-align: center;
	max-height: min-content;
}
.centrar {
	align-items: center;
	h1 {
		font-size: 40px;
		font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
		color: rgba(40, 51, 114, 1);
	}
	p {
		font-size: 20px;
		font-family: Impact, Haettenschweiler, Arial, Helvetica, sans-serif, sans-serif;
		color: rgba(40, 51, 114, 1);
	}
}
.form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 280px;
	color: rgba(40, 51, 114, 1);
}
.centrar-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 600px;
	font-size: 22px;
	color: rgba(40, 51, 114, 1);
}
.logo-direc {
	position: absolute;
	top: 3880px;
	left: 50px;
}
.contain {
	position: absolute;
	left: 350px;
}
.red-final {
	position: absolute;
	top: 3950px;
	left: 1420px;
}
.divDireccion-a {
	position: absolute;
	left: 50px;
	top: 80px;
}
.divTelefono-b {
	position: absolute;
	left: 420px;
	top: 80px;
}
.divMail-c {
	position: absolute;
	left: 750px;
	top: 80px;
}
.r {
	margin: 0;
	background: #eee;
	display: flex;
	min-height: 100vh;
}
.caja {
	width: 300px;
	height: 300px;
	background: crimson;
	transition: all 10s;
	transform: rotateX(0deg);
	transform-style: preserve-3d;
	&:hover {
		transform: rotateY(960deg);
	}
}
.cara {
	width: 300px;
	height: 300px;
	background-color: #f7b733;
	margin: auto;
	transform: rotateY(90deg);
}
.imagen {
	img {
		display: inline-block;
		margin: 0 0.0;
		animation: zoomIn;
		animation-duration: 2s;
	}
}
.cuerpon {
	background: #fc4a1a;
	background: -webkit-linear-gradient(to bottom, #f7b733, #fc4a1a);
	background: linear-gradient(to bottom, #f7b733, #fc4a1a);
	height: auto;
	max-height: auto;
	width: auto;
	min-width: auto;
	display: flex;
	justify-content: center;
}
.contenedor-texton {
	height: 300px;
	width: 900px;
	display: flex;
	font-family: 'Inter';
	p {
		font-size: 22px;
		font-family: 'Inter', sans-serif;
		color: white;
		margin: 0 0.0;
		animation: zoomIn;
		animation-duration: 2s;
	}
}
.text-center {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.portafon {
	background-color: white;
	font-size: 180px;
	max-width: auto;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	color: var(--image-primary-color);
	line-height: 220px;
	display: inline-block;
	animation: pulse;
	animation-duration: 2s;
}
