.portafos {
	font-size: 270px;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	color: var(--leters-primary-color);
	line-height: 200px;
	animation: pulse;
	animation-duration: 2s;
}
