*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    height: 100%;
}
.grid{
    display: grid;
    text-align: center;
    grid-template-areas: 
       "grid-1"
       "grid-2"
       "grid-3";
}

.grid-1{
    grid-area: grid-1;
    height: auto;
    width: 100%;
    
}
.grid-2{
    grid-area: grid-2;
    height: auto;
    
}

.grid-3{
    grid-area: grid-3;
    height: 330px;
    width: 100%;   
}