
    // background color
    $main-bg-color: #fc4a1a; 
    $main-bg-color: -webkit-linear-gradient(to bottom, #f7b733, #fc4a1a);
    $main-bg-color: linear-gradient(to bottom, #f7b733, #fc4a1a); 
    $footer-bg-color: #fc4a1a; 
    $footer-bg-color: -webkit-linear-gradient(to bottom, #f7b733, #fc4a1a);
    $footer-bg-color: linear-gradient(to bottom, #f7b733, #fc4a1a); 
    /* color */
    /* APLICANDO MAPA A MI SCSS */
    $colors: (
        leters-primary-color: rgba(40, 51, 114, 1),
        leters-secundary-color: white,
        image-primary-color: rgb(255, 146, 30),
    );
    @each $color, $value in $colors {
        .#{$color} {
            color: #{$value};
        }
    }
    /* HASTA AQUÍ APLIQUE MAPA A MI SCSS */
    // Font Family
    $font-principal:'Inter', sans-serif;
    $font-secundary: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    $font-third: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;